:root {
	font-size: 20px;
	box-sizing: border-box;

	--face-animation-duration: 2s;
	--face-side: 300px;
	--face-starting-position: calc(-1 * (var(--face-side) + 200px));

	--lighter: #ffedcc;
	--light: #ffd280;
	--main-color: orange;
	--dark: darkorange;
	--darker: #cc7000;
}

@media (min-width: 500px) {
	:root {
		font-size: calc(15px + 2vw);
	}
}

@media (min-width: 750px) {
	:root {
		font-size: 30px;
	}
}

* {
	box-sizing: inherit;
	font-family: 'Crimson Text', serif;
}

h1,
h2 {
	font-family: 'Supermercado One', sans-serif;
}

a {
	text-decoration: none;
	color: var(--dark);
}

a:hover,
a:focus {
	color: var(--darker);
}

button {
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	background-color: transparent;
	color: black;
	font-size: 1rem;
	box-shadow: 0;
	border: 1px solid var(--main-color);
	border-radius: 10px;

	padding: 5px 10px;
}

button:hover {
	background-color: var(--lighter);
}

button:active {
	background-color: var(--light);
}

button:focus {
	outline: 1px dashed var(--darker);
	background-color: var(--light);
}

.main-container {
	height: 100vh;
	width: 100vw;
}

.skip-animation * {
	-webkit-animation: none !important;
	animation: none !important;
	transition: none !important;
}

.page-title-name {
	display: table;

	font-size: 3rem;
	color: white;
	background-color: var(--dark);

	padding: 0 0.5rem 0 1rem;

	margin-bottom: 0.75rem;

	border-bottom-right-radius: 0.6rem;
}

.page-title-name:not(:first-of-type) {
	padding-left: 4rem;
	margin-bottom: 0;
	border-top-right-radius: 0.6rem;
}

.face {
	animation: face-slide 2s ease-out;
	-webkit-animation: face-slide 2s ease-out;

	position: absolute;

	height: var(--face-side);
	width: var(--face-side);
	cursor: pointer;
}

.face.open {
	cursor: default;
}

.face-half {
	width: var(--face-side);
	position: absolute;
	transition: all var(--face-animation-duration);
	left: 0;

	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
}

.face-top {
	top: 0;

	transform-origin: 0 100%;
}

.open .face-top {
	transform: translateY(-150px) rotate(-90deg);
}

@media (min-width: 500px) {
	.open .face-top {
		transform: translate(-100px, -150px) rotate(-30deg);
	}
}

@media (min-width: 750px) {
	.open .face-top {
		transform: translate(-75px, -150px) rotate(-30deg);
	}
}

.face-bottom {
	left: -1px;
	bottom: 0;
}

.open .face-bottom {
	bottom: -100px;
}

@media (min-width: 500px) {
	.open .face-bottom {
		bottom: -200px;
	}
}

.face-toggle-button {
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: calc(var(--face-side) + 20px);
	transition: all 0.2s;
}

.face-toggle-button:focus {
	background-color: transparent;
}

.open .face-toggle-button {
	cursor: default;
	opacity: 0;
	pointer-events: none;
}

@media (min-width: 500px) {
	.face-toggle-button {
		top: calc(var(--face-side) - 80px);
		left: calc(var(--face-side) - 30px);
		transform: translateY(-50%);
	}
}

.text-content {
	transform: translateX(-150%);

	font-size: 1rem;

	margin: 2rem;
}

.open + .text-content {
	transform: translateX(0%);
	transition: all 0.75s 0.5s;
}

.replay-button {
	margin-bottom: 0.2rem;
	font-size: 0.7rem;
}

.intro-text,
.nav-menu {
	margin-bottom: 0.5rem;
}

@-webkit-keyframes face-slide {
	0% {
		transform: translateX(var(--face-starting-position));
	}

	50% {
		transform: translateX(var(--face-starting-position));
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes face-slide {
	0% {
		transform: translateX(var(--face-starting-position));
	}

	50% {
		transform: translateX(var(--face-starting-position));
	}

	100% {
		transform: translateX(0);
	}
}
