:root {
	font-size: 16px;
	box-sizing: border-box;
	/* background-color: yellow; */
}

@media (min-width: 500px) {
	:root {
		font-size: calc(15px + 2vw);
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: 40px;
	}
}

* {
	box-sizing: inherit;
}

h1,
h2 {
	font-family: 'Supermercado One', sans-serif;
}

p {
	font-family: 'Baskerville', serif;
}

.main-container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100vw;
}

.page-title-name {
	display: table;

	font-size: 3rem;
	color: white;
	background-color: darkorange;

	padding: 0 0.5rem 0 1rem;

	margin-bottom: 1rem;
}

.page-title-name:not(:first-of-type) {
	padding-left: 4rem;
	margin-bottom: 0;
}

.face {
	animation: face-slide 1s ease-out;

	position: relative;

	width: 300px;
}

.face-half {
	width: 100%;
	position: absolute;
	transition: all 1s;
	left: 0;
}

.face-top {
	top: 0;

	transform-origin: 0 100%;
}

.face-bottom {
	top: 215px;
}

.face-top.open {
	transform: rotate(-45deg);
}

.face-bottom.open {
	top: calc(100% - 215px);
}

.blurb,
.nav-menu {
	display: none;
	position: absolute;
}

@keyframes face-slide {
	from {
		right: 110%;
	}

	to {
		right: 0;
	}
}
